<h2>Product List</h2>
<form >
    <div class="form-group">
        <label >Search :</label>
        <input type="number" name="price" class="form-control" [(ngModel)]="priceMax">
    </div>
</form>
<table class="table">
    <tr><th>ID</th><th>Title</th><th>Price</th><th>quantity</th><th>like</th></tr>
    <tr *ngFor="let product of productList; let i=index">
    <td>{{product.id}}></td>
<td>{{product.title}}</td>
<td>{{product.price}}</td>
<td>{{product.quantity}}</td>
<td>{{product.like}}</td>
<td><button class="btn btn-warning">like</button></td>
<td><button class="btn btn-success" [disabled]="product.quantity==0"(click)="buyProduit(i)">buy</button></td></tr>
</table>